<div *ngIf=!isLoggedIn>
  <a [routerLink]="['/register']" class="btn btn-primary">Sign Up</a>
  <a [routerLink]="['/login']" class="ml-2 btn btn-secondary">Login</a>
</div>

<div *ngIf=isLoggedIn>
  <div class="btn-group mx-4" mdbDropdown>
    <mdb-icon classInside="dropdown-toggle" fas icon="user" mdbDropdownToggle></mdb-icon>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item">Account</a>
      <a class="dropdown-item">Orders</a>
      <div class="divider dropdown-divider"></div>
      <a (click)="logout()" class="dropdown-item">Logout</a>
    </div>
  </div>
</div>
