<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark aqua-gradient lighten-1">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
          aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li>
        <button mdbBtn size="sm" (click)="openCartModal()"><i class="fas fa-shopping-cart pl-1"></i></button>
      </li>
      <li *ngIf="false" class="nav-item avatar">
        <a class="nav-link p-0" href="#">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
               alt="avatar image" height="35">
        </a>
      </li>
      <li *ngIf="true" class="nav-item">
        <button mdbBtn size="sm" color="primary" (click)="openLoginModal()">Login</button>
      </li>
    </ul>

  </div>
</nav>
<!--/.Navbar -->
