<div class="container">
  <table class="table table-hover table-condensed" id="cart">
    <thead>
    <tr>
      <th style="width:50%">Product</th>
      <th style="width:10%">Price</th>
      <th style="width:8%">Quantity</th>
      <th class="text-center" style="width:15%">Subtotal</th>
      <th style="width:17%"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of orderContent">
      <td data-th="Product">
        <div class="row">
          <div class="col-sm-3 hidden-xs"><img [src]="product.product.image" alt="productImage" class="img-responsive"
                                               height="100px" width="100px"/></div>
          <div class="col-sm-9">
            <h4 class="nomargin">{{product.product.name}}</h4>
            <p>{{product.product.description}}</p>
          </div>
        </div>
      </td>
      <td data-th="Price">{{product.product.price | currency: 'EUR'}}</td>
      <td data-th="Quantity">
        <input (change)="updateAmount(product.product)" class="form-control text-center" id="qty-{{product.product._id}}" type="number"
               value="{{product.quantity}}">
      </td>
      <td class="text-center" data-th="Subtotal">{{product.product.price * product.quantity | currency: 'EUR'}}</td>
      <td class="actions" data-th="">
        <button class="btn btn-info btn-sm"><i class="fas fa-sync"></i></button>
        <button (click)="removeProductFromOrder(product.product)" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i>
        </button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="visible-xs">
      <td class="text-center"><strong>{{orderContent.length}}</strong></td>
    </tr>
    <tr>
      <td>
        <div class="row">
          <div class="col"><a [routerLink]="['/shop']" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue
            Shopping</a></div>
          <div class="col"><input aria-describedby="codehelp" class="form-control" placeholder="" type="text">
            <small class="form-text text-muted" id="codehelp">You have a discount code? Enter it here!</small></div>
        </div>
      </td>
      <td class="hidden-xs" colspan="2"></td>
      <td class="hidden-xs text-center"><strong>{{subtotal | currency: 'EUR'}}</strong></td>
      <td><a [routerLink]="['/checkout']" class="btn btn-success btn-block">Checkout <i
        class="fa fa-angle-right"></i></a></td>
    </tr>
    </tfoot>
  </table>
</div>
